@{
    ViewData["Title"] = "Confirmation";
}

<div class="text-center">
    <h4>Your recommendation has been submitted. Select one of the options below:</h4>
</div>

<div class="btn-group-lg text-center" role="group">
    <a class=" btn btn-primary" asp-action="TheirRestaurantList">View Your Recommendations</a>
    <a class=" btn btn-primary" asp-action="TheirRestaurantSubmit">Submit Another Restaurant</a>
</div>
